<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studcam">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".HigherExamDetails_Activity"></activity>
        <activity android:name=".AddProblem_Activity" />
        <activity android:name=".ProblemViewRecycler_Activity" />
        <activity android:name=".ElevenToTwelve_Activity" />
        <activity android:name=".App_Intro_Activity" />
        <activity android:name=".NineToTen" />
        <activity android:name=".SixToEight_Activity" />
        <activity android:name=".OneToFifth_Activity" />
        <activity android:name=".SelectGradExam_Activity" />
        <activity android:name=".SelectHigherExam_Activity" />
        <activity
            android:name=".GmailLogin_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PhoneOtp_Activity" />
        <activity android:name=".PhoneReg_Activity" />
        <activity android:name=".ChooseExam_Activity" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="ocr" />
        </activity>
        <activity
            android:name=".Splash_Activity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>